@import url('https://fonts.googleapis.com/css2?family=K2D&family=Laila&family=Londrina+Solid:wght@300&family=Nunito&display=swap');

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.center{
  text-align: center;
  align-items: center;
}

/* COMPONENT STYLING */
.card {
  box-shadow: 5px 5px 4px 2.5px rgba(72, 98, 132, 0.3);
  transition: all 0.2s ease;
}

.card:hover {
  transform: scale(1.01);
  cursor: default;
  box-shadow: 2px 3px 4px 2.5px rgba(72, 98, 132, 0.3);
}

.button{
  transition: all 0.9s ease;
}

.button:hover{
  transform: scale(1.06);
  font-weight: bold;
}

/* MEDIA STYLING */
.img{
  box-shadow: 0px 0px 3px 1px rgba(72, 98, 132, 0.3);
}

.video{
  /* 16:9 ratio */
  width: 450px;
  height: 253.125px;
  margin-top: 20px;
  margin-bottom: 10px
}

.video-item{
  text-align: center;
}

.video-item:hover{
  cursor: pointer;
}

/* SEARCHBAR STYLING */
.input {
    color: black;
    box-shadow: 1px 2px 4px 2px rgba(203, 187, 187);
    border: 0px solid transparent;
    border-radius: 30px;

    height: 80px;
    width: 600px;
    font-size: 36px;
    font-family: 'Nunito',sans-serif;

    transition: all 0.3s ease;
}

.input:hover{
  box-shadow: 2px 3px 10px 5px rgba(203, 187, 187);
}

/* PIANOROLL SVG STYLING */
.scroll-container {
  overflow-x: auto;
  overflow-y: hidden;
  border: 1px solid #0003;
}

.timeline {
  height: 150px;
  background-color: #414251;
}

.beat-line {
  stroke: #ccc;
  stroke-opacity: 0.1;
  stroke-width: 1.0;
}

.beat-line.measure {
  stroke: #ccc;
  stroke-opacity: 0.2;
}

.ruler {
  fill: #2E303F;
}

.ruler-marks {
  fill: #ccc;
  text-anchor: start;
  font-family: 'Proxima Nova', sans-serif;
  font-size: 11px;
  font-weight: 200;
  pointer-events: none;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
}

.playhead {
  /*        fill: #82838C; */
        fill: orange;
      }

      .timeline-note { fill: #2f9aef; }
      .timeline-note:hover { fill: white !important; }
      .timeline-note.highlighted { fill: white !important; }
      .guitar .timeline-note { fill: #f0c229; }
      .bass .timeline-note { fill: #ec5eb2; }
      .marimba .timeline-note { fill: #f6843f; }
      .piano .timeline-note { fill: #2f9aef; }
      .drums .timeline-note,
      .drumkit .timeline-note { fill: #86c44e; }
  
      .guitar .timeline-waveform { fill: #f0c229; }
      .bass .timeline-waveform { fill: #ec5eb2; }
      .marimba .timeline-waveform { fill: #f6843f; }
      .piano .timeline-waveform { fill: #2f9aef; }
      .drums .timeline-waveform,
      .drumkit .timeline-waveform { fill: #86c44e; }
  
 

/* PROGRESS BAR STYLING */
.bar-container{
  height: 40px;
  width: 60%;
  background-color: #dadde3;
  border-radius: 50px;
  margin-top: 80px;
  margin-left: 20%;
}

/* ELEMENT STYLING */
h1{
  color: #465d87;
  font-family: 'Londrina Solid', sans-serif;
  font-size: 75px;
  padding-top: 20px;
}

h2{
  color: #465d87;
  font-family: 'Londrina Solid', sans-serif;
  font-size: 60px;
  margin-top: 40px
}

/* options: Nunito, K2D, Laila */
p{
  color: #465d87;
  font-family: 'Nunito', sans-serif;
  font-size: 16px;
  margin: auto;
  margin-top: 10px;
  text-align: center
}

label{
  color: #465d87;
  font-family: 'Nunito', sans-serif;
  font-size: 18px;
  margin: auto;
}

h3{
  color: #465d87;
  font-family: 'Londrina Solid', sans-serif;
  font-size: 33px;
  margin-top: 0px;
  margin-bottom: 0px;
  text-align: center
}

h4{
  color: #838fa6;
  font-family: 'Londrina Solid', sans-serif;
  font-size: 18px;
  margin-top: 0px;
  margin-bottom: 5px;
  text-align: center;
  font-weight: normal
}

button{
  color: #465d87;
  font-family: 'Londrina Solid', sans-serif;
  font-size: 18px;
  margin: auto;
}